{% extends 'base.html' %}
{% block title %} News {% endblock %}
{% block style %}
<style>
    td:hover {
        box-shadow:10px 10px 30px #c8c8c8;
    }
    .td_by3{
        width: 620px; 
        height: 130px;
        margin: 20px 30px;
        padding: 0px 10px;
        border-radius: 30px;
        border: black;
    }
    .td_by4{
        width: 450px; 
        height: 150px; 
        margin: 20px 30px;
        padding: 0px 10px;
        border-radius: 30px;
    }
    .secondbar{
        margin: 8px 0 0 0 ;
        padding: 0 8px; 
        width: 100%; 
        text-align: center ;
        background-color: white;
    }
</style>
{% endblock %}